<!doctype html>
<html lang="en-US">
	<head>

		<meta charset="utf-8" >
		<meta name="viewport" content="width=device-width">
		<title>The Diabetes Distress Scale (DDS 17) Questionnaire
		 Consent Form
		</title>
		<link rel="stylesheet" href="../styles/reset.css">
		<link rel="stylesheet" href="../styles/styles.css" >
	</head>

	<body>
		<h1>Diabetes Distress Questionnaire</h1>
		<div class="consent-text">
		<h2>Informed Consent</h2>
		<p><em>Consent Form</em></p>
		<p>
		If you consent to participate in the study&comma; 
		please sign below&colon;
		</p>
		<p>
			I hereby consent to participate in this study. I have been informed of the nature of the study being undertaken. I also understand that my participation in the study is voluntary, and the decision to participate or not to participate will not affect me whatsoever. I may also choose to discontinue my involvement in the study at any stage without any explanation or consequences.  I have also been reassured that my details and the information I will relay will be kept confidential. I confirm that all my concerns about my participation in the study have been adequately addressed by the investigator, and the investigator has asked me questions to ascertain my comprehension of the information provided.
		</p>
		Participant’s Signature (or thumbprint) ………………………Date………………………...
		<p>

		I confirm that I have clearly explained to the participant the nature of the study and the contents of this consent form in detail, and the participant has decided to participate voluntarily without any coercion or undue pressure.
		</p>

		<p>

		Investigator’s Signature…………………………………….... Date ………..………………
		</p>
</div>
</body>
</html>
